.square {
  border: solid 1px lightgray;
  place-content: center;
}
input {
  border: 0;
  box-sizing: border-box;
}
.correct {
  color: green;
}

.incorrect > * {
  color: red;
}
.squareContent {
  display: grid;
  place-content: center;
  height: 100%;
}
.masked {
}
.userInput > * {
  font-family: fantasy;
  font-weight: bold;
  height: 100%;
  width: 100%;
}
.wrongAnswer {
  font-family: fantasy;
  color: red;
}
